<div class = "container">
  <%if @info%>
    <%=@info[0]["owner"]["login"]%>
  <%end%>
  <h1>Repos</h1>
  <%if @info%>
    <%@info.each do |repo|%>

    <%end%>
  <%end%>
  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
